
.cart-page {
    width: 60%;
    margin: 0 auto;

    .cart-header {
        width: 100%;
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        padding: .5em 0;
        font-size: 1rem;

        h5 {
            font-size: 1.2rem;
            font-weight: 400;
        }
    }

    .cart-footer {
        text-align: right;
        padding: .5em .3em;
        
        h3 {

            font-weight: 400;
        }
        button {
            margin: 0 auto;
        }
    }
}