.checkout {
    width: 100%;

    .checkout-header {
        text-align: center;
        padding: 1em;

    }
    .form-headers {
        width: 50%;
        display: flex;
        justify-content: space-between;
        padding: .5em .3em;
        margin: 0 auto;

        .arrowBar{
            clip-path: polygon(0 0, 85% 0, 100% 50%, 86% 100%, 0 100%, 14% 50%);
            background: red;
            height: 60px;
            width: 250px;
            padding: 0 20px 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            transition: ease-in-out 0.2s;
            cursor: pointer;

            &:first-child {
                clip-path: polygon(0 0, 85% 0, 100% 50%, 86% 100%, 0 100%, 0% 50%);
            }
        }
        .demo {
            background-color: #F0A500;
            color: black;
        }
    }

    .checkout-container {
        width: 80%;
        margin: 30px auto;
        display: flex;

        .forms {
            width: 60%;

        }
        .orders-container {
            width: 40%;
            border: 1px solid rgb(248, 203, 203);
            border-radius: 5px;
            background-color: #E6D5B8;
            position: relative;

            .orders-header {
                display:  flex;
                justify-content: space-between;
                padding: .5em 1em;
                position: relative;

                span {
                    color: white;
                    background-color: red;
                    padding: 4px 9px;
                    border-radius: 50%;
                }
            }

            .orders {

                .order {
                    width: 90%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: .3em;
                    margin: 0 auto;
                    border-bottom: 1px solid black;
                    
                    h5 {
                        font-size: 14px;
                    }
                }
            }

            .orders-footer {
                position: relative;
                width: 100%;
                height: 60px;

                h5 {

                    position: absolute;
                    left: 25px;
                    bottom: 10px;
                }
            }
        }

        .buttons {
            width: 98%;
            padding-left: 25px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .btn {
                padding: .5em 1em;
                background-color: #F0A500;
                border: none;
                border-radius: 5px;
                &:active {
                    outline: none;
                }
            }
        }
        
        
    }
}

.demo {
    background-color: yellow;
    color: white;
}